# Токен бота от @BotFather
BOT_TOKEN=8637433233:AAFxCQx5X6IHRoDNzoBsHRfMQHVwnVT0fIA

# ID администраторов (через запятую)
ADMIN_IDS=1553865459

# Путь к базе данных (оставьте по умолчанию)
DATABASE_PATH=casino_bot.db
